@using ASP_Final_Project_Asbab.Models
@model Header
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="container">
    <div class="row">
        <h2>Edit</h2>
        <form method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.LabelFor(t => t.Title)
                @Html.TextBoxFor(t => t.Title, new { @class = "form-control", type = "text", placeholder = "Title" })
                @Html.ValidationMessageFor(t => t.Title, null, new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(t => t.Body)
                @Html.TextBoxFor(t => t.Body, new { @class = "form-control", type = "text", placeholder = "Body" })
                @Html.ValidationMessageFor(t => t.Body, null, new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(t => t.Photo)
                @Html.TextBoxFor(t => t.Photo, new { @class = "form-control", type = "file", accept = "image/*" })
                @Html.ValidationMessageFor(t => t.Photo, null, new { @class = "text-danger" })
            </div>
            <input type="submit" class="btn btn-success" value="Edit" />
        </form>
    </div>
</div>

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}