@using ASP_Final_Project_Asbab.Models
@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="container">
    <div class="row">
        <h2>Categories</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col"><a class="btn btn-success" href='@Url.Action("Create","Category", new { area = "Admin" })'><i class="fas fa-plus"></i> Create new one</a></th>
                </tr>
            </thead>
            <tbody>
                @{ var id = 0;}
                @foreach (var category in Model)
                {
                    <tr>
                        <th scope="row">@(++id)</th>
                        <td>@category.Name</td>
                        <td><a class="btn btn-success" href="@Url.Action("Edit","Category", new { area = "Admin", category.Id })"><i class="fas fa-edit"></i> Edit</a></td>
                        <td><a class="btn btn-success" href="@Url.Action("Delete","Category", new { area = "Admin", category.Id })"><i class="fas fa-user-minus"></i> Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>